html{
  font-family: 'Roboto', sans-serif;

  --clr-text-main: rgba(228, 228, 228, 1);
  --clr-text-accent: rgba(176,177,208, 1);
  --clr-text-purple: rgba(189,160,254, 1);
  --clr-background-main: rgba(44,31,74, 1);

  font-size: 16px;
  background-color: var(--clr-background-main);
  color: var(--clr-text-main);
}
     
.container{
  padding: 0 9.25rem;
  max-width: 1920px;
  margin: 0 auto;
}

ul{
  list-style: none;
}

.text-purple{
  color: var(--clr-text-purple);
}

@media screen and (max-width: 75em) {
  .container {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 48em) {
  .container {
    padding: 0 2rem;
  }
}